@model IEnumerable<PSI_NET_CORE.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="Stationtb" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script>
        var dataTable,Popup;
        $(document).ready(function () {
            dataTable=$("#Stationtb").DataTable({
                "ajax": {
                    "url": "/Station/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "stationNo" },
                    { "data": "name" },
                    { "data": "location" },
                    { "data": "subLocation" },
                    { "data": "ward" },
                    { "data": "county" },
                    {"data":"id" , "render" : function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("CreateUpdate", "Station")/" + data + "')><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-danger btn-sm js-delete' data-citizen-id=" + data + " style='margin-left:5px'><i class='fa fa-trash'></i> Delete</a>";
                    },
                        "orderable": false,
                        "searchable":false,
                        "width":"150px"
                    }
                ]

            });

        });

        //update/Edit popup
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Station Details',
                        height: 500,
                        width: 700,
                        background: '#808080',
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }

                    });
                });
        }
        //update/insert form submission
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            table.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                        else {
                            Popup.dialog('close');
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "danger"
                            })
                        }
                    }
                });
            }
            return false;
        }
        //deletion
        $("#Stationtb").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/Station/Delete/" + button.attr("data-citizen-id"),
                        method: "POST",
                        success: function (data) {
                            if (data.success) {
                                dataTable.row(button.parents("tr")).remove().draw();
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                });
                            }
                            else {
                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "alert-info"
                                });
                            }
                        }
                    });
                }

            });
        });
    </script>
}